.row {
    height: 75px;
}

.past {
    background-color: rgb(165, 158, 158);
}

.present {
    background-color: rgb(31, 204, 31);
}

.future {
    background-color: yellow;
}

.w-75:hover {
    border: 5px solid #ffffff;
}